
# Location of the build sub-directories, organized by version/buildnames
# Each directory in here should have a pcbsd.cfg / repo.conf file configured
# for that particular build
BDIR=""

# User / hostname to ssh / sftp into for storing work and finished builds
SFTPUSER=""
SFTPHOST=""

# Set the remote dirs to store finshed ISO/PKGS
SFTPFINALDIR=""

# Set the remote dir to use for storing temp build data
SFTPWORKDIR=""
