###########################################################################
# Generic settings
###########################################################################

# User / hostname to ssh / sftp into for storing work and finished builds
# (Optional)
SFTPUSER=""
SFTPHOST=""
export SFTPUSER SFTPHOST

# Set the remote dirs to store finshed ISO/PKGS
# (Optional)
SFTPFINALDIR=""
export SFTPFINALDIR

# Set the remote dir to use for storing temp build data
# (Optional)
SFTPWORKDIR=""
export SFTPWORKDIR

# Select which branch of ixbuild repo testing framework to use
# (Optional)
# IXBUILDBRANCH=""
# export IXBUILDBRANCH

# (Optional) Settings for vmware-vsphere-cli
# VI_SERVER
# VI_USERNAME
# VI_PASSWORD
# VI_CFG

###########################################################################
# FreeNAS specific settings
###########################################################################

# (Optional) Define a VM Backend otherwise VirtualBox is used (possible types are bhyve, esxi)
# VMBACKEND=""
# export VMBACKEND

# Set this to be the first IP address in IPv4 range for automatic assignment
# DEFAULT_IP4POOL=""
# export DEFAULT_IP4POOL

# Set this be the network information assigned to the bridged interface

# BRIDGEIP=""
# BRIDGENETMASK=""
# BRIDGEGW=""
# BRIDGEDNS=""
# BRIDGEHOST=""
# BRIDGEHOST_B=""
# BRIDGEDOMAIN=""
# export BRIDGEIP BRIDGENETMASK BRIDGEGW BRIDGEDNS BRIDGEHOST BRIDGEHOST_B BRIDGEDOMAIN

# Set the account information for dns testing we do with noip.com
# If this is NOT set, the test will be skipped
# NOIPUSERNAME=""
# NOIPPASSWORD=""
# NOIPHOST=""
# export NOIPPASSWORD NOIPUSERNAME NOIPHOST

# Set this to the IP address to use in VirtualBox for testing
# FNASTESTIP=""
# export FNASTESTIP

# Set this to the information to use for testing jails
# JAILIP=""
# JAILNETMASK=""
# JAILGW=""
# export JAILIP JAILNETMASK JAILGW

# Set this to be the AD information for joining an Active Directory
# ADUSERNAME=""
# ADPASSWORD=""
# export ADUSERNAME ADPASSWORD

# Set this information to use for testing AFP/OSX filesharing
# OSX_HOST=""
# OSX_USERNAME=""
# OSX_PASSWORD=""
# export OSX_HOST OSX_USERNAME OSX_PASSWORD

# Set this to be the information required for testing LDAP
# LDAPHOSTNAME=""
# LDAPBASEDN=""
# LDAPBINDDN=""
# LDAPBINDPASSWORD=""
# export LDAPHOSTNAME LDAPBASEDN LDAPBINDDN LDAPBINDPASSWORD

# Set these to the target FreeNAS target you wish to replicate to for testing
# REPLTARGET=""
# REPLUSERNAME=""
# REPLPASSWORD=""
# REPLVOLUME=""
# export REPLTARGET REPLUSERNAME REPLPASSWORD REPLVOLUME

###########################################################################
# PC-BSD specific settings
###########################################################################

# Set PBI signing key
# This key is used to sign your PBI repo
PBI_REPO_KEY=""
export PBI_REPO_KEY

# Command used in 'pkg repo' to sign (I.E. signing_command: <cmd>)
PKGSIGNCMD=""
export PKGSIGNCMD
