#!/bin/sh
# PC-BSD Build configuration settings

# Which PC-BSD git URL to clone
GITPCBSDURL="https://github.com/pcbsd/pcbsd.git"
export GITPCBSDURL

# Branch of the PC-BSD repo to build with
# Available (9.2-release/master)
#
# Note, this is only used for the overlays/install-overlay directory
# All other PC-BSD code is pulled from the PKGNG repo. If you want to
# customize these bits, you will want to build a new local repo below.
GITPCBSDBRANCH="9.2-release"
export GITPCBSDBRANCH

# Which PC-BSD/FreeBSD git URL to clone for FreeBSD world/kernel
GITFBSDURL="https://github.com/pcbsd/freebsd.git"
export GITFBSDURL

# The branch of PC-BSD/FreeBSD to build
# Available (releng/9.2, stable/10)
GITFBSDBRANCH="releng/9.2"
export GITFBSDBRANCH

# Set the target version of this build
# Used for pulling pkgng packages / poudriere jail
TARGETREL="9.2-RELEASE"
export TARGETREL

# Set the target ARCH type for world / pkgng building
ARCH="amd64"
export ARCH

# Set if we are using a locally built PKGNG repo, or a remote one
# Available (local, remote)
#
# NOTE: If using local, you will need to install poudriere and be required
# to do a complete PKGNG build of the FreeBSD ports tree.
PKGREPO="remote"
export PKGREPO

# Git URL to pull the ports tree from, used if PKGREPO is set to "local"
PORTS_GIT_URL="https://github.com/pcbsd/freebsd-ports.git"
export PORTS_GIT_URL

# Poudriere data location, used if PKGREPO is set to "local"
POUD="/usr/local/poudriere"
export POUD

# Run Poudriere in verbose mode?
# YES / NO - Default NO
#POUD_VERBOSE="YES"
