#!/bin/sh
# PC-BSD Build configuration settings

# Which PC-BSD git branch to use
# Note, this is only used for the overlays/install-overlay directory
# All other PC-BSD code is pulled from PKGNG pcbsd-utils / pcbsd-utils-qt4
GITPCBSDURL="https://github.com/pcbsd/pcbsd.git"
GITPCBSDBRANCH="9.2-release"
export GITPCBSDURL GITPCBSDBRANCH

# What TrueOS/FreeBSD git branch to use
GITFBSDURL="https://github.com/pcbsd/freebsd.git"
GITFBSDBRANCH="releng/9.2"
export GITFBSDURL GITFBSDBRANCH

# Set the target version for pulling pkgng packages / poudriere jail
TARGETREL="9.2-RELEASE"
export TARGETREL

# Set the target ARCH type for world / pkgng
ARCH="amd64"
export ARCH

# Poudriere data location
POUD="/usr/local/poudriere"
export POUD

# Set if we are using a locally built PKGNG repo, or a remote one
# local / remote
PKGREPO="remote"
export PKGREPO
