#!/bin/sh
# FreeNAS Build configuration settings

# Which FreeNAS git URL to clone
# For 9.x
GITFNASURL="https://github.com/freenas/freenas.git"
export GITFNASURL

# Branch of the FreeNAS repo to build with
# Available (master|development)
# For 9.x
GITFNASBRANCH="master"
export GITFNASBRANCH

# Set location for release to be stored when using Jenkins builds
TARGETREL="freenas-9.10"
export TARGETREL

# Set that this is a legacy 9.X build
FREENASLEGACY="YES"
export FREENASLEGACY
