#!/bin/sh
# FreeNAS Build configuration settings

# Which FreeNAS git URL to clone
# GITFNASURL="https://github.com/freenas/build.git"
# export GITFNASURL

# Branch of the FreeNAS repo to build with
# Available (freenas10)
# GITFNASBRANCH=${CHECKOUT_TAG}
# export GITFNASBRANCH
export SKIP_CHECKOUT="YES"

# Set location for release to be stored
TARGETREL="truenas-custom"
export TARGETREL

# This is a 9.10 build, Legacy middleware + new build
FREENASLEGACY="910"
export FREENASLEGACY

# Set which MILESTONE to set
BUILDOPTS="PROFILE=freenas PRODUCTION=yes PRODUCT=TrueNAS"
export BUILDOPTS

# Disable the shallow checkout of sources
DISABLE_SHALLOW_CHECKOUT="YES"
export DISABLE_SHALLOW_CHECKOUT
